extends layout

block content
    #container
        h3 FirebaseUI Demo
        #loading Loading...
        #loaded.hidden
            #main
                #user-signed-in.hidden
                    #user-info
                        #photo-container
                            img#photo
                        #name
                        #email
                        .clearfix
                    p
                        button#sign-out Sign Out
                        button#delete-account Delete account
                #user-signed-out.hidden
                    h4 You are signed out.
                    p
                        button#sign-in-with-redirect Sign In with Redirect
                        button#sign-in-with-popup Sign In with Popup
                    #firebaseui-spa
                        h5 Single Page Application mode:
                        #firebaseui-container

    #test

    script(src="/js/auth.js")
    script(src="/js/main.js")
