doctype html
html(lang='ru')
  head
    title Menu
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://www.gstatic.com/firebasejs/3.6.1/firebase.js')
    script(src='js/config.js')
    script(src='https://www.gstatic.com/firebasejs/ui/live/1.0/firebase-ui-auth.js')
    link(type='text/css', rel='stylesheet', href='https://www.gstatic.com/firebasejs/ui/live/1.0/firebase-ui-auth.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/normalize.min.css')
  body
  
    include header
    block content
    include footer