* {
    box-sizing: border-box;
}

.not-visible {
    display: none;
}

a.logo {
    display: inline-block;
    /* position: absolute; */
    width: 80px;
    height: 80px;
    margin-left: 50px;
    border-radius: 10px;
    overflow: hidden;
}

a.logo img {
    width: 100%;
    height: 100%;
}

#user-info {
    border: 1px solid #CCC;
    display: inline-block;
    border-radius: 0 0 20px 20px;
    border-top: none;
    clear: both;
    margin: 0 auto 20px;
    max-width: 400px;
    padding: 10px;
    text-align: left;
}

#photo-container {
    background-color: #EEE;
    border: 1px solid #CCC;
    /* float: left; */
    height: 50px;
    margin: 0 auto;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

#photo {
    height: 50px;
    margin: 0;
    width: 50px;
}

@media (max-width: 300px) {
    #photo-container,
    #photo {
        height: 40px;
        width: 40px;
    }
}

html,
body {
    width: 100%;
    height: 100%;
}

div#user-signed-out {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.7);
}

div#firebaseui-container {
    margin-top: 10%;
}

canvas {
    position: absolute;
    top: 0;
    z-index: -1;
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255,255,255,0.6);
    border-radius: 20px;
    /* position: relative; */
}

header.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#user-signed-in p {
    display: inline-block;
    vertical-align: text-bottom;
    margin: 21px 0;
}

div#user-signed-in {
    margin: 0 auto;
    display: flex;
}

button#sign-out {
    width: 100px;
    height: 35px;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    -webkit-box-shadow: 0 1px 3px #666666;
    -moz-box-shadow: 0 1px 3px #666666;
    box-shadow: 0 1px 3px #666666;
    outline: none;
    color: #ffffff;
    line-height: 12px;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    user-select: none;
}

button#sign-out:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

button#sign-out:active {
    opacity: 0.6;
}
